.area1 { grid-area: header; }
.area2 { grid-area: main; }
.area3 { grid-area: right; }
.area4 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  gap: 10px;
  background-color: white;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 10px;
}


.card-header {
  background-color: linear-gradient(to right, #6BA25F, #d7e8cf);
}

.container-totals {
  background-color: #d7e8cf;
  padding: 10px 0;
}

.area3 {
  background-color: #d7e8cf;
  width: 400px;
}

.text-page {
  background-color: #d7e8cf;
}

.insights {
    margin-top: 55px;
    top: 50%;
    left: 50%;
    padding: 10px;
  }

.card-border-light {

}

.area2 {
  width: 1300px;
  height: 100%;
}

.dashboard-icon {
  width: 30px;
  height: 100%;
  margin: 2px;
  padding: 5px 0;
}


/* Card animation */

/* @import url("https://fonts.googleapis.com/css?family=Montserrat:400,800"); */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
/* html {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 100%;
} */

.wrapper {
 /*  width: 80%; */
  height: auto;
  background: #fff;
  position: relative;
  margin: 0 auto;
}
.wrapper .item {
  cursor: pointer;
  overflow: hidden;
  transition: all 0.4s ease;
  margin-top: auto;
  margin: 10px auto;
  border-radius: 14px;
  box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.2);
  width: 360px;
  background: #f9f9f9;
  position: relative;
}
.wrapper .item span.close {
  position: absolute;
  top: 10px;
  right: -35px;
  transition: all 0.4s ease;
  z-index: 9;
  font-weight: 800;
}
.wrapper .item span.close::before {
  content: "-";
  background: #fff;
  border-radius: 50%;
  padding: 0px 7px;
  font-weight: 300;
}
.wrapper .item .graphic {
  position: relative;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  overflow: hidden;
}
.wrapper .item .graphic img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  min-height: 270px;
}
.wrapper .item .graphic span {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 2em;
  color:grey;
  text-transform: uppercase;
  font-weight: 800;
  max-width: 35%;
  line-height: 30px;
}
.wrapper .item .brief {
  margin-top: -4px;
  position: relative;
  display: flex;
  background: linear-gradient(to right, #6BA25F, #d7e8cf);
  padding: 10px 10px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.wrapper .item .brief .icon {
  width: 40px;
}
.wrapper .item .brief .icon img {
  object-fit: cover;
  width: 100%;
}
.wrapper .item .brief .typo {
  margin-left: 20px;
}
.wrapper .item .brief .typo span {
  color: #fff;
  font-size: 13px;
  display: block;
}
.wrapper .item .brief .typo span:first-child {
  font-size: 15px;
  font-weight: 800;
}
.wrapper .item .sub {
  position: absolute;
  transition: all 0.4s ease;
  padding: 20px 40px;
}
.wrapper .item .sub p.header {
  font-size: 3em;
  font-weight: 800;
  margin-bottom: 10px;
}
.wrapper .item .sub p.story {
  line-height: 25px;
}

.item.animate {
/*   z-index: 999; */
  width: 900px !important;
  display: block;
 /*  position: fixed;
  left: 0;
  right: 0; */
  max-height: 98%;
  overflow-y: scroll;
  /* margin-left: auto; */
  /* margin-right: auto; */
  margin: auto;
  border-radius: 0;
}

.item.animate span.close {
  transition-delay: 0.3s;
  right: 10px;
}

.item.animate .sub {
  position: relative;
}

.item.animate .graphic,
.item.animate .brief {
  border-radius: 0;
}

a[download="chart.png"] {
  position: absolute;
  display: block !important;
  width: 20px !important;
  height: 25px !important;
  * {
    /* background-color: #d7e8cf !important; */
    width: 20px !important;
    height: 25px !important;
    display: block !important;
  }

}
