// Specific CSS for your home-page
.img-thumbnail {
  width: 100%;
  height: 500px;
}

// the container holding the navbar and the background pic
.container-home {
  background-image: url('top-green-landscape.jpeg');
  background-size: cover;
  background-position: center;
  margin: auto;
  margin-bottom: 20px;
  padding: 70px 0px;
  height: 650px;
}

.hero {
  text-align: center;

}

.container-home-1 {
  margin-top: 7rem;
}

// stying the navbar in general
.new-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: transparent;
  z-index: 1000;
  color: white;
}

/* Change the background color to white on hover */
.new-navbar:hover {
  background-color: white;
  color: black;
  transition: background-color 0.1s; /* Add a transition effect */
}

// for the logo and the elements in the navbar
.navbar-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.navbar-menu {
  display: flex;
  align-items: center;
  flex-direction: column;
}
// for the elements ( to be in the middle of the navbar )
.navbar-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0;
  margin-left: 0;
}

/* You can adjust this value between element */
.nav-item {
  font-family: "Playfair Display";
  margin-right: 10px;
  color: black;
}

/* ----- navbar styling finished ------- */


/* ----- styling the card for the form ------ */


/* Styles for the emission-form-card */


/* Styles for the formandresult container */
.formandresult {
  display: flex; /* Add flex display */
  flex-direction: row; /* Set to row for horizontal alignment */
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 50px 0;
}

/* Styles for the form section */

.form {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px 0 0 5px;
  padding: 30px;
  width: 700px;
  height: 400px;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.form h2 {
  font-size: 24px; /* Adjust font size as needed */
  font-family: "Playfair Display";
}

/* Styles for the result section */
.result {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #3B6239;
  color: white;
  border-right: 1px solid #292929;
  border-radius: 0 5px 5px 0;
  padding: 70px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 500px;
  height: 400px;

  h3 p {
    margin: 50px;

  }

  p {
    font-size: 4rem;
    font-weight: 600;
    font-family: "Work Sans";
  }
}


/* -------------------styling of the second card------------------------------------- */
/* Style for the card container */

.homepagecard {
  display: flex; /* Add flex display */
  flex-direction: row; /* Set to row for horizontal alignment */
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 70px 110px;
}

/* Style for the text container */
.homepage-text {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 700px;
  height: 400px;
  padding: 20px;
  text-align: left;
  font-family: "Work Sans";
}

.homepage-text h2 {
  font-size: 3.57rem;
  font-weight: 700;
  margin-bottom: 20px;
  font-family: "Playfair Display";
}

.homepage-text p {
  font-size: 20px;
  font-family: "Work Sans";
}

/* Style for the image container */
.homepageimage2 {
  width: 500px; /* Adjust the width as needed */
  height: 400px;
}

/* Style for the image inside the container */
.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  border-radius: 0 5px 5px 0;
}

.underline {
  background-image: linear-gradient(to right, lightgreen, lightblue); /* Gradient background */
  background-clip: text; /* Apply the background to the text */
  -webkit-background-clip: text; /* For webkit-based browsers */
  color: transparent; /* Make the text transparent */
  // #3B6239, #80d09a
}

.lead {
  font-family: "Work Sans";
}

.btn {
  font-family: "Playfair Display";
}

// .btn-start-container {
//   font-family: "Playfair Display";
//   height: 8vh;
//   width: 30vh;
//   background: white;
//   border-radius: 10px;
//   text-align: center;
//   position: absolute;
//   top: 59%;
//   left: 42%;
//   font-weight: 70px;;
//   text-align: center !important;

// }

// .btn-start {
//   padding-top: 3rem;
//   color: black;
//   text-decoration: none;
//   text-align: center !important;
//   display:
// }
/* -------------------------  styling Done ----------------------------- */

.thirdcontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 50px;
  width: 1200px;
  height: 500px;
}

.carousel-item {
  width: 600px;
  height: 400px;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.thirdtext {
  // flex: none;
  width: 400px;
  height: 100%;
  padding: 0 20px; /* Add some padding for spacing */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
