
<div class="wrapper-footer text-center py-4 mt-100">
  <p>&copy; EcoWheels. All rights reserved.</p>
  <i class="fab fa-instagram"></i>
  <i class="fab fa-twitter"></i>
  <i class="fab fa-facebook-f"></i>
</div>
