
    <div class="container-fluid">
     <div class="page-container text-center footer py-4 mt-3">
        <p>&copy; EcoWheels. All rights reserved.</p>
       <i class="fab fa-instagram"></i>
       <i class="fab fa-twitter"></i>
       <i class="fab fa-facebook-f"></i>
      </div>
    </div>
