.icons-index {
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  margin-right: 21px;
}

.account-summary {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin-left: 20px;

}

// distance traveled calculations
.account-calculations {
  display: flex;
  flex-direction:row; // for the elements to be in one row
  justify-content: flex-start; /* Align content to the left */
  align-items: center;
  margin: 15px 21px 15px 0px;
  // border: 1px solid #ccc;
  padding: 80px 20px;


  .root-image-index {
    height: 80px;
    width: 80px;
    margin-right: 10px;
    margin-left: 30px;
  }


  p {
    padding-top: 17px; /* Make the paragraph expand to fill available horizontal space */
  }
}



.emission-calculations {

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  .emission-image-index {
    height: 80px;
    width: 80px;
    margin-right: 10px;
    margin-left: 30px;
  }

  p {
    padding-top: 17px; /* Make the paragraph expand to fill available horizontal space */
  }

}

// emission calculation calculations
