
// .account-summary {
//   display: flex;
//   flex-direction: column;
//   margin-top: 70px;
//   margin-left: 20px;

// }

// .icons-index {
//   display: flex;
//   flex-direction: row;
//   border: 1px solid #ccc;
//   margin-right: 25px;
//   background-color: white;
//   border-radius: 5px;

// }


// // distance traveled calculations
// .account-calculations {
//   display: flex;
//   flex-direction:row; // for the elements to be in one row
//   justify-content: flex-start; /* Align content to the left */
//   align-items: center;
//   margin: 15px 25px 15px 0px;
//   // border: 1px solid #ccc;
//   padding: 80px 20px;


//   .root-image-index {
//     height: 90px;
//     width: 90px;
//     margin-right: 10px;
//     margin-left: 30px;
//   }


//   p {
//     padding-top: 17px; /* Make the paragraph expand to fill available horizontal space */
//   }
// }


// // emission calculation styling
// .emission-calculations {

//   display: flex;
//   flex-direction: row;
//   justify-content: flex-start;
//   align-items: center;
//   margin-right: 35px;

//   .emission-image-index {
//     height: 90px;
//     width: 90px;
//     margin-right: 10px;
//     margin-left: 30px;
//   }

//   p {
//     padding-top: 17px; /* Make the paragraph expand to fill available horizontal space */
//   }

// }


// // fuel consumption styling
// .fuel-consumption {
//   display: flex;
//   flex-direction: row;
//   justify-content: flex-start;
//   align-items: center;
//   margin-right: 100px;

//   // .gas-image-index {
//   //   height: 90px;
//   //   width: 90px;
//   //   margin-right: 10px;
//   //   margin-left: 30px;
//   // }

// }


// // co2 emission graph styling

// .co2-emission-per-product .chart-container {
//   text-align: left;
//   width: 500px !important;
//   // margin-right: 5px;
//   background: linear-gradient(to bottom, #007bff, #ffffff);
//   border-radius: 5px;
//   margin-left: 100px;
// }


// Styling the second container in the index page where we have the calculations

.container-index-new-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background: linear-gradient(to bottom, #e7fae5, #f0f0f0);
  margin: 10px;
  border-radius: 5px;
}
.innerboxindex {
  display: flex;
  flex-direction: row;
  // background-color: rgb(222, 245, 222);
  // margin-top: 70px;
  margin-left: 10px;
  margin-right: 10px;
  height: 270px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.index-new-card-1 {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  height: 188px;
  width: 323px;
  // box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, #c5f77f, rgb(237, 248, 229));
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.index-new-title-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // background-color: white;

  h4 {
    font-family: "Playfair Display";
    font-weight: 900;
    font-size: 21px;
  }

  .card-text-new {
    text-align: left;
    font-size: 16px;
    color: #333;
  }
}

.emission-image-index {

  align-items: center;

  .root-image-index {
    height: 90px;
    width: 90px;
    margin-right: 10px;
    margin-left: 30px;
  }

  .emission-image-index {
    height: 90px;
    width: 90px;
    margin-right: 10px;
    margin-left: 30px;
  }


  .gas-image-index {
    height: 90px;
    width: 90px;
    margin-right: 10px;
    margin-left: 30px;
  }
}


.new-image-index-2 {
  height: 206px;
  margin-top: 10px;
}


.index-new-card-1:hover {
  background-color: #f0f0f0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}


// styling the info icon in the index

.index-new-card-1 {
  position: relative;
}

.info-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 10;
}

.info-modal {
  background-color: white;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);  /* This will ensure that the modal appears just below the card */
  z-index: 5;  /* Keep it below the info icon */
  font-family: "Work Sans";
}
