.co2-emission-per-product .chart-container {
  text-align: left;
  width: 450px !important;
  // margin-right: 5px;
  background: linear-gradient(to bottom, #007bff, #ffffff);
  border-radius: 5px;
}
