

.container-card-edit {
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(6, 48, 32, 0.4) 0px 0px 0px 2px, rgba(16, 63, 10, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 43rem;
}

.container-edit-f {
  margin-top: 36rem;
}

.title-page {
  font-family: "Manrope";
}

// .title-page-up {
//     margin: 45px auto;
//     text-align: center;
//     font-size: 300%;
//     text-shadow: 2px 2px;
// }

.container-edit-image {
  background-image: url('eco_truck.jpeg');
  display: block;
  // background-size: cover;
  // background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  // flex-direction: row;
  justify-content: center;
  // margin-left: 10rem;
  border-radius: 10px;
  width: 100%;
  margin-left: 15rem;
}

.container-bottom-edit {
  display: block;
  background-color: rgb(215, 232, 207);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 7rem;
  // display: flex;
  // flex-direction: row;
  // justify-content: space-between;
}

.container-bottom-edit-2 {
  background-image: url('trees_background.jpg');
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-right: 3rem;
}

h1 {
  font-family: "Manrope";
  margin-top: 2rem;
  font-weight: bold;

a {
  text-decoration: none;
  color: black
}

}
