.status-buttons {
  display: flex;
  justify-content: column;
  text-align: left;

  h4 {
    margin-right: 5px;
  }


  .filter-buttons-index {
    background-color: #F4F4F4;
    padding: 5px;
    margin-right: 6px;
    border: 1px solid #dee2e6;;
  }
}

.filter-buttons-index-yellow {
  background-color: rgb(219, 213, 101);
}

a:hover.filter-buttons-index-yellow {
  background-color: rgb(161, 157, 42)
}

.bg-yellow-status {
  background-color: rgb(219, 213, 101);
}

.filter-buttons-index-green {
  background-color: rgb(127, 170, 99);
}

a:hover.filter-buttons-index-green {
  background-color: rgb(78, 118, 52);
}

.title-index h4 p {
  font-family: "Times New Roman", Times, serif;
}

.title-index {
  font-size: 28px;

  h4 {
    margin-top: 3px;
  }
}


// style the buttons in the table
.form-control {
  text-align: center;
  vertical-align: middle;
}
