/* Style the table */
// color of the index page  (the color of the container-ndex is down)
// you have to change down as well to have similar color
// #F5F5F5
.index-page {
  background-color: white;
}



.table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 10px;
}

.title-index h4 p {
  font-family: "Manrope";
}
/* Style table header */
.thead-dark th {
  background-color: #e0f2f1;

  a {
    text-decoration: none;
    color: white;
    font-family: "Manrope";
  }
}

.tbody-index td{
  background-color: white;
  a {
    text-decoration: none;
    color: black;
    font-family: "Manrope";
  }
}


/* Style table header on hover */
.thead-dark th:hover {
  background-color: #579153;;

}

/* Style table rows on hover */
.table tbody tr:hover {
  background-color: #3C7D45
}

/* Style the container */
.container-index {
  margin-top: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* adding margin to the add shipment  */

.custom-bg-blue {
  margin-top: 8px;
  background-color: #65ba5b;
  color: white;
  transition: background-color 0.3s ease;
  font-family: "Manrope";

}

.custom-bg-blue:hover {
  background-color: #3c7d45;
  color: white;
  font-family: "Manrope";
}

.custom-table {
  border-radius: 10px;
}

.container-banner {
  background-image: url('green_landscape.jpeg');
  background-size: cover;
  background-position: center;
  margin: auto;
  padding: 80px 0px;
  margin-bottom: 2rem;

  .align-middle {
  border-right: 0 !important;
 }
}
// to remove the border of the table

.tbody-index {
  td {
    border-width: 0;
  }
}

.thead-dark {
  th {
    background-color: #65ba5b;
    border-width: 0;
  }
}
