
// designing in the index page - the elements on the top page of the page
// the search bar - icons - date and time - bell - user name

.search-index {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


// design the user signed in - bell - date and time
.user-details {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  #currentDateTime {
    color: rgb(86, 85, 85);
  }


  .name-index {
    color: rgb(86, 85, 85);
    margin: 14px 10px 0px 25px;
  }

  .bell {
    margin-left: 25px;

  }

}

.index-left {
  display: flex;
  align-items: center;
}

.index-right {
  margin-right: 19px;

}
.icon-index {
  margin-left: 20px;
}


.search-box {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 5px 10px;
  margin-left: 30px;
}

.search-input input[type="text"] {
  flex: 1;
  padding: 3px 100px 3px 8px;
  // padding-right: 100px;
  border: none;
  background: transparent;
  box-shadow: none;

}

.search-input .button-search {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
}
