
// designing in the index page - the elements on the top page of the page
// the search bar - icons - date and time - bell - user name

.search-index {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


// design the user signed in - bell - date and time
.user-details {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: "Playfair Display";

  #currentDateTime {
    color: rgb(86, 85, 85);
    font-family: "Playfair Display";
  }


  .name-index {
    color: rgb(86, 85, 85);
    margin: 14px 10px 0px 25px;
    font-family: "Playfair Display";
  }

  .bell {
    margin-left: 25px;
  }

}

.index-left {
  display: flex;
  align-items: center;
  font-family: "Playfair Display";
}

.index-right {
  margin-right: 19px;

}
.icon-index {
  margin-left: 20px;
}


.search-box {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 5px 10px;
  margin-left: 30px;
}

.search-input input[type="text"] {
  flex: 1;
  padding: 3px 100px 3px 8px;
  // padding-right: 100px;
  border: none;
  background: transparent;
  box-shadow: none;
}

.search-input .button-search {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  // search box in the index

  //styling the search box and the user details
  .search-index {
    display: block;
    flex-direction: column;

    .index-left {

      .search-box {
        padding: 0px;
        width: 190px;

        .search-icon {

        }
        .search-input {
          width: 165px;
          
          .form-control {
            font-size: 12px;
            width: 250px
          }
        }
      }
    }
  }

  .user-details {
    justify-content: flex-start;
    margin-left: 10px;
    width: 222px;
    font-size: 14px;
  }
}
