.container-fluid {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  background-color: rgb(178, 197, 167);
  padding-top: 60px
}

.footer {
  background-color: rgb(178, 197, 167);
}
