// #new_shipment textarea {
//   background-color: white !important;

// }

// to style the text area of the elements except the vehicle type and the fuel type
.form-control {
  text-align: left;
  background-color: rgba(255, 255, 255, 1);
  width: 300px;
  margin-right: 5px;
  border-radius: 10px;
}

// style the text area of vehicle type and fuel type
.form-select {
  text-align: left;
  background-color: rgba(255, 255, 255, 1);
  width: 300px;
  margin-right: 5px;
  border-radius: 10px;
}

// .product-name {
//   padding-right: 600px;
// }

.form-field {
  margin-bottom: 20px; /* Adjust the spacing between form fields */
}

.date-field {
  display: flex;
  align-items: center;
  justify-content: column;
  text-align: left;
}

.form-inputs {
  border-radius: 55px;
}

.btn {
  border-radius: 10px;
}

.form-label {
  padding-top: 0.25rem;
  font-family: "Work Sans";
  color: black;
}

/* Additional CSS styling for other form elements can be added here */

