.navbar-lewagon {
  justify-content: space-between;
  background: white;
  font-family: "Manrope";
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  font-family: "Manrope";
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  font-family: "Manrope";
}

.search-box {
  float: right;
}

.btn-primary {
  background-color: green;
}

.nav-link {
  font-family: "Manrope";
}

.nav-item {
  font-family: "Manrope";
  color: black;
}
