 <div class="container-edit">
   <%= render "shared/navbar" %>
    <div class="title-page" style="margin-top: 7rem ; margin-left: 2rem;"><h1>Edit your shipment</h1></div>
  </div>
</div>
  <%= render "form", shipment: @shipment %>
 </div>
