<%= render "shared/master_navbar" %>
<%# <div class="card-edit-form col-lg-3 d-flex flex-row" style="width: 30rem; margin: 0 auto; margin-top: 3rem; margin-bottom: 3rem; padding: 1rem"> %>
<div class="container-banner">
</div>


<div class="container-edit-image d-flex">
  <div class="container-card-edit" style="width: 39rem; ml-4 ; mt-4; p-1 ;">
    <div class="card-edit " style=" m-0 auto ; mt-3;">
      <div class="title-page" style="mt-2 ; mb-1 ; ml-2 ; text-center"><h1>Edit Your Shipment</h1></div>
        <div class="card-form-edit " style="mt-5 ; p-0 auto;">
        <%= render "form_new" %>
      </div>
    </div>
  </div>
</div>


   <div class="container-bottom-edit">
     <div class="text-page" style="text-center pt-3;">
     <h4>Here are 5 ways to reduce your carbon footprint significantly 🌿</h4>
     <h6>
     <ul><li>Avoid Mass Market, Throw Away Fashion.</li></ul>
     <ul><li> Reduce your Meat and Diary Consumption.</li></ul>
     <ul><li>Refuse Single-Use Plastic.</li></ul>
     <ul><li>Reduce and Rethink your Transportation.</li></ul>
     <ul><li> Switch to Green Energy.</li></ul>
     <ul><li>Fighting Climate Change through Rewilding.</li></ul>
     </h6>
    </div>
  </div>
 </div>

   <div class="container-bottom-edit-2">
 </div>
