<div class="container-edit">
  <div class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <div class="container-fluid">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to "Back to Shipments", shipments_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
<div class="container">
  <div class="title-page" style="margin-top: 7rem ; margin-left: 2rem;"><h1>Edit your shipment</h1></div>
</div>
  <%= render "form", shipment: @shipment %>
</div>

<div class="container-edit">
  <div class="bg-image"
    style="background-image: url('trees_background.jpg');
          height: auto">
  </div>
</div>
