 <div class="container">
  <div class="title-page" style="margin-top: 7rem ; margin-left: 2rem;"><h1>Edit your shipment</h1></div>
  </div>
</div>
  <div class="container-edit">
    <div class="bg-image"
     style="background-image: url('trees_background.jpg');
            height: auto">

<div class="container-edit">
  <%= render 'shared/navbar_home' %>

  <%= render "form", shipment: @shipment %>
 </div>
 </div>
  </div>
