<div class= "container-new">
 <div class="container-banner lg mt-5">
</div>
  
   <%= render "shared/navbar" %>

  <section class="text-center py-5 mt-2 mb-2">
    <div class="banner-new">
      <div class="container">
        <div class="title-page" style="margin-top: 1rem ; margin-left: 2rem;">
          <h1 class="display-4">Add a new shipment </h1>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="container-form">
  <%= render "form" %>
  <br>
    <%= link_to "Go back to the shipment list without saving", shipments_path %>
  <br>
</div>
