<%= render "shared/master_navbar" %>

<div class= "container-new">
  <div class="container-banner">
</div>


</div>

<div class="new-page-container">

  <div class="header-new">
    <h4> Add New Shipment</h4>
  </div>

  <div class="container-form">
    <%= render "form_new" %>
  </div>


</div>
