<%= render "shared/master_navbar" %>

<div class= "container-new">
  <div class="container-banner"> </div>
</div>

<div style="display: flex; justify-content: center;">
  <div class="modal-wrapper-final">
    <div class="modal-header-final">
      <h1>Add Your Shipment</h1>
    </div>
    <%= render "form_new" %>
  </div>
</div>

